@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@100..900&family=Noto+Sans+JP:wght@100..900&family=Noto+Serif+JP:wght@200..900&family=Zen+Kaku+Gothic+New&display=swap');




.body {
    height: 956px;
    width: 400px;
    padding: 0;
    margin: 0;
    font-family: "M PLUS 1", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    background-color: rgb(37, 31, 124);
}
ul {
    list-style: none;
}


.haikei {
    height: 110vh;
    width: 100vw;
    position: relative;
    top: -20px;
    z-index: 0;
    background-image: linear-gradient( #01011a,#002d7f);
}




.waku {
   width: 70%;
   border: 0px solid #9c9c9c;
   border-radius: 20px;
   font-family: "Noto Serif JP", sans-serif;
   font-size: 12px;
   font-weight: 200;
   background-color: #c3f7ff;
   padding: 10px;
   box-sizing: border-box;
   position: relative;
   top: 300px;
   left: 15%;
   display: flex;
   color: #016fff;
   justify-content: center;
}
 

.setumei h4 {
    font-size: 22px;
    position: relative;
    top: 170px;
    text-align: center;
    display: flex;
   justify-content: center;
   color: #FFF;
   background-image: #022797; 
    font-family: "Noto Serif JP", sans-serif;
    font-size: 18px;
    font-weight: 200;
    z-index: 1;
}


.password-input {
    border: 2px solid #000000;
}
